<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Address</td>
            <td>City</td>
            <td>Pincode</td>
            <td>actions</td>
         </thead>
         {% for row in rows %}
            <tr>
               <form action="/update" method="POST">
                  
                  <td><div style="text-align: center;">{{ row['name'] }} </div><input type="hidden" id="name" name="name" required value="{{ row['name'] }}"></td>
                  <td><input type="text" id="address" name="address" required value="{{ row['addr'] }}"></td>
                  <td><input type="text" id="city" name="city" required value="{{ row['city'] }}"></td>
                  <td><input type="text" id="pcode" name="pcode" required value="{{ row['pin'] }}"></td>
                  <td><div style="text-align: center;"><button type="submit">Update</button>
               </form> 
               <form action="/delete/{{ row['name'] }}">
                  <button type="submit">Delete</button>
               </form>
                  </div></td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>

