<!doctype html>
<html>
   <body>
      <table border = 1>
         <form id="searchForm" method="GET">
            <input type="text" id="name" name="name" required>
            <button type="submit">Search</button>
         </form>
         <script>
            document.getElementById('searchForm').addEventListener('submit', function(event) {
               event.preventDefault(); // Prevent the default form submission
    
               const searchValue = document.getElementById('name').value;
               const formAction = '/search?' + encodeURIComponent(searchValue);
    
                // Set the form's action attribute dynamically
               this.action = formAction;
    
                // Submit the form
               this.submit();
            });
         </script>
         <thead>
            <td>Name</td>
            <td>Address</td>
            <td>City</td>
            <td>Pincode</td>
         </thead>
         {% for row in rows %}
            <tr>
               <td>
                  <div style="text-align: center;">
                     <a href = "/search/{{ row['name'] }}">{{ row['name'] |center }}</a>
                  </div>      
               </td>
               <td>{{ row["addr"] }}</td>
               <td>{{ row["city"] }}</td>
               <td>{{ row["pin"] }}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>

